<template>
    
</template>

<script>
import moduleAuth from "@/store/auth/moduleAuth.js";
export default{
    created(){
        if (!moduleAuth.isRegistered) {
            this.$store.registerModule("auth", moduleAuth);
            moduleAuth.isRegistered = true;
        }
        this.$store.dispatch('auth/logout')
            .then((response)=>{
                this.$router.push('/pages/login');
            }).catch(error=>{this.$router.push('/pages/login');});
    }
}
</script>