<!-- =========================================================================================
  File Name: CatalogMasterSidebar.vue
  Description: Add New Data - Sidebar component
  ----------------------------------------------------------------------------------------
  Item Name: ZainFit Vue + Laravel Admin Panel
  Author: RigRex-Muhammad Ahmad
  Author URL: https://www.rigrex.com
========================================================================================== -->


<template>
  <vs-sidebar click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>{{ Object.entries(this.data).length === 0 ? "ADD NEW" : "UPDATE" }} CATALOG</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>

    <VuePerfectScrollbar class="scroll-area--data-list-add-new" :settings="settings" :key="$vs.rtl">

      <div class="p-6">

        <!-- NAME -->
        <vs-input label="Name" v-model="name" class="mt-5 w-full" name="name" v-validate="'required'" />
        <span class="text-danger text-sm" v-show="errors.has('name')">{{ errors.first('name') }}</span>

        <!-- Description -->
        <vs-textarea label="Description" class="mt-3"  v-model="description"  v-validate="'required'" />
        <span class="text-danger text-sm" v-show="errors.has('description')">{{ errors.first('description') }}</span>

        <!-- ITEM NAME-->
        <vs-select v-model="item_id" label="Item" class="mt-5 w-full" name="item_id" v-validate="'required'">
          <vs-select-item :key="item.id" :value="item.id" :text="item.name" v-for="item in catalogItems" />
        </vs-select>
        <span class="text-danger text-sm" v-show="errors.has('dwItems')">{{ errors.first('dwItems') }}</span>
      </div>
    </VuePerfectScrollbar>

    <div class="flex flex-wrap items-center p-6" slot="footer">
      <vs-button class="mr-6" @click="submitData" :disabled="!isFormValid">Submit</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
    </div>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import moduleCatalog from "@/store/catalog/moduleCatalog.js"

export default {
  props: {
    isSidebarActive: {
      type: Boolean,
      required: true
    },
    data: {
      type: Object,
      default: () => {},
    }
  },
  watch: {
    isSidebarActive(val) {
      if(!val) return
      if(Object.entries(this.data).length === 0) {
        this.initValues()
        this.$validator.reset()
      }else {
        //   console.log(JSON.parse(JSON.stringify(this.data)))
        let { id, item, name, description } = JSON.parse(JSON.stringify(this.data))
        this.id = id
        this.item_id = item.id
        this.item_name = item.name
        this.name = name
        this.description = description
        this.initValues()
      }
      // Object.entries(this.data).length === 0 ? this.initValues() : { this.dw_item_id, this.dataName, this.dataCategory, this.dataOrder_status, this.dataPrice } = JSON.parse(JSON.stringify(this.data))
    }
  },
  data() {
    return {

      item_id: null,
      name: "",
      item_name: "",
      description: "",



      settings: { // perfectscrollbar settings
          maxScrollbarLength: 60,
          wheelSpeed: .60,
      },
    }
  },

  created() {
    if(!moduleCatalog.isRegistered) {
      this.$store.registerModule('catalog', moduleCatalog)
      moduleCatalog.isRegistered = true
    }
    this.$store.dispatch("catalog/fetchItems")
  },
  computed: {
    isSidebarActiveLocal: {
      get() {
        return this.isSidebarActive
      },
      set(val) {
        if(!val) {
          this.$emit('closeSidebar')
          // this.$validator.reset()
          // this.initValues()
        }
      }
    },
    isFormValid() {
      return !this.errors.any() && this.name && this.item_id && this.description
    },
    catalogItems() {
    //   console.log(this.$store.state.catalog.catalogItems);
      return this.$store.state.catalog.catalogItems.items;
    },
  },
  methods: {
    initValues() {
      if(this.data.id) return
        this.item_id = null
        this.name = ""
        this.description = ""
        this.item_name = "Shirt"
    },
    submitData() {
      this.$validator.validateAll().then(result => {
          if (result) {

            const obj = {
                id: this.id,
                item_id: this.item_id,
                name: this.name,
                description: this.description,
            }

            // console.log(obj);

            if(this.id !== null && this.id >= 0) {
                // console.log(obj)
              this.$store.dispatch("catalog/updateCatalog", obj).catch(err => { console.error(err) })
            }else{
              delete obj.id

            //   console.log(obj)
              this.$store.dispatch("catalog/addCatalog", obj).catch(err => { console.error(err) })
            }

            this.$emit('closeSidebar')
            this.initValues()
          }
      })
    },
    updateCurrImg(input) {
      if (input.target.files && input.target.files[0]) {
        var reader = new FileReader()
        reader.onload = e => {
          this.dataImg = e.target.result
        }
        reader.readAsDataURL(input.target.files[0])
      }
    }
  },
  components: {
    VuePerfectScrollbar,
  }
}
</script>

<style lang="scss" scoped>
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
    height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>
