<!-- =========================================================================================
    File Name: MailItem.vue
    Description: Mail Item - Displays mail item
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
    <div class="mail__mail-item sm:px-4 px-2 py-6 " >

        <!-- MAIL ROW 1 : META -->
        <div class="flex w-full">

            <div class="flex w-full justify-between items-start">
                <div class="mail__details">
                    <h5 class="mb-1 font-semibold">{{ contact.name }}</h5>
                    <span >{{ contact.email }}</span>
                    <span style="float:right;position:absolute;right:0px;margin-right: 15px;" v-if="contact.purpose!='Feedback'">{{ contact.orderNo }}</span>
                </div>

                <div class="mail-item__meta flex items-center">
                    <div class="email__labels hidden sm:flex items-center">
                        <div class="h-2 w-2 rounded-full mr-2" :class="(contact.purpose=='Feedback')?'bg-primary':'bg-danger'"></div>
                    </div>
                    <span>{{ contact.purpose }}</span>
                </div>
            </div>
        </div>
        <!-- /MAIL ROW 1 -->

        <!-- MAIL ROW 2 : MSG & ACTIONS -->
        <div class="flex w-full">
            <div class="flex items-center ml-1">
                <vs-checkbox v-model="isSelectedMail" @click.stop class="vs-checkbox-small ml-0 mr-1"></vs-checkbox>
                <!-- <feather-icon icon="StarIcon" class="cursor-pointer" :svgClasses="[{'text-warning fill-current stroke-current': true}, 'w-5', 'h-5']" ></feather-icon> -->
            </div>
            <div class="mail__message  ml-3">
                <span>{{ contact.message }}</span>
            </div>
            
        </div>
        <!-- /MAIL ROW 2 -->
    </div>
</template>

<script>
export default {
  props: {
    contact: {
      type: Object,
      required: true,
    },
    isSelected: {
      type: Boolean,
      required: true,
    }
  },
  data() {
    return {
      isSelectedMail: this.isSelected,
    }
  },
  watch: {
    isSelected(value) {
      this.isSelectedMail = value
    },
    isSelectedMail(val) {
      val ? this.$emit('addToSelected', this.contact.id) : this.$emit('removeSelected', this.contact.id)
    }
  },
  methods: {
    
  }
}

</script>

