<template>
    <div id="email-app" class="border border-solid d-theme-border-grey-light rounded relative overflow-hidden">

        <vs-sidebar class="items-no-padding" parent="#email-app" :click-not-close="clickNotClose" :hidden-background="clickNotClose" v-model="isEmailSidebarActive">
            <email-sidebar @closeSidebar="toggleEmailSidebar" :mailFilter="mailFilter" />
        </vs-sidebar>

        <div :class="{'sidebar-spacer': clickNotClose}" class="no-scroll-content border border-solid d-theme-border-grey-light border-r-0 border-t-0 border-b-0">

            <!-- SEARCH BAR -->
            <div class="flex border d-theme-dark-bg items-center">
                <feather-icon class="md:inline-flex lg:hidden ml-4 mr-4 cursor-pointer" icon="MenuIcon" @click.stop="toggleEmailSidebar(true)"/>
                <vs-input icon-no-border icon="icon-search" size="large" icon-pack="feather" placeholder="Search Mail" v-model="searchQuery" class="vs-input-no-border vs-input-no-shdow-focus w-full" @keyup="emailSearch"/>
            </div>

            <!-- EMAIL ACTION BAR -->
            <div class="email__actions flex items-center flex-wrap justify-between p-4 border border-r-0 border-l-0 border-solid d-theme-border-grey-light">
                <div class="flex items-center">
                    <vs-checkbox v-model="selectAllCheckBox" icon-pack="feather" :icon="selectAllIcon" class="select-all-chexkbox ml-0">Select All</vs-checkbox>
                </div>
                <div class="flex">
                    <!-- <feather-icon icon="MailIcon" class="ml-5 cursor-pointer" svg-classes="h-6 w-6" @click="updateMarkUnread" /> -->

                    <feather-icon  icon="TrashIcon" class="cursor-pointer ml-5" svg-classes="h-6 w-6" @click="deleteRecord()" />
                </div>
            </div>

            <!-- EMAILS LIST -->
            <VuePerfectScrollbar class="email-content-scroll-area" :settings="settings"  ref="mailListPS">
                <transition-group name="list-enter-up" class="email__mails" tag="ul" appear v-show="$route.params.filter=='contact'">
                    <li class="cursor-pointer email__mail-item" v-for="contact in contacts" :key="'contact_'+contact.id" @click="updateOpenMail(contact.id)" >
                        <ContactItem :contact="contact" :isSelected="isMailSelected(contact.id)" @addToSelected="addToSelectedMails" @removeSelected="removeSelectedMail" />
                    </li>
                </transition-group>
                <transition-group name="list-enter-up" class="email__mails" tag="ul" appear v-show="$route.params.filter=='email'">
                    <li class="cursor-pointer email__mail-item" v-for="newsLetter in newsLetters" :key="'newsLetter_'+newsLetter.id" @click="updateOpenMail(newsLetter.id)" >
                        <NewsLetterItem :newsLetter="newsLetter" :isSelected="isMailSelected(newsLetter.id)" @addToSelected="addToSelectedMails" @removeSelected="removeSelectedMail" />
                    </li>
                </transition-group>
            </VuePerfectScrollbar>
        </div>

    </div>
</template>

<script>
import EmailSidebar        from './EmailSidebar.vue'
import ContactItem            from './ContactItem.vue'
import NewsLetterItem            from './NewsLetterItem.vue'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import moduleEmail         from '@/store/email/moduleEmail.js'

export default {
  data() {
    return {
      openMailId           : null,
      selectedMails        : [],
      isSidebarActive      : false,
      showThread           : false,
      clickNotClose        : true,
      isEmailSidebarActive : true,
      settings             : {
        maxScrollbarLength : 60,
        wheelSpeed         : 0.30,
      },
      searchQuery:''
    }
  },
  watch: {
    isSidebarActive(value) {
      if (!value) this.showThread = false
    },
    emailSearch() {
      this.selectedMails = []
      this.$refs.mailListPS.$el.scrollTop = 0;

      this.$store.dispatch("email/fetchEmails",{filter:this.$route.params.filter,searchQuery:this.searchQuery})
      this.toggleEmailSidebar()
    },
    windowWidth() {
      this.setSidebarWidth()
    }
  },
  computed: {
    mailFilter() {
      return this.$route.params.filter
    },
   
    selectAllCheckBox: {
      get() {
        return this.selectedMails.length
      },
      set(value) {
        if(this.$route.params.filter=='contact'){
          value ? this.selectedMails = this.contacts.map(mail => mail.id) : this.selectedMails = []
        }else if(this.$route.params.filter=='email'){
          value ? this.selectedMails = this.newsLetters.map(mail => mail.id) : this.selectedMails = []
        }
      }
    },
    
    contacts(){
      return this.$store.state.email.contacts;
    },
    newsLetters(){
      return this.$store.state.email.newsLetters;
    },
    selectAllIcon() {
      return this.selectedMails.length == this.contacts.length ? 'icon-check' : 'icon-minus'
    },
    isMailSelected() {
      return (mailId) => this.selectedMails.indexOf(mailId) == -1 ? false : true
    },
    windowWidth() {
      return this.$store.state.windowWidth
    }
  },
  methods: {
    addToSelectedMails(mailId) {
      if (this.selectedMails.indexOf(mailId) === -1) this.selectedMails.push(mailId)

      console.log(this.selectedMails);
    },
    removeSelectedMail(mailId) {
      const mailIndex = this.selectedMails.indexOf(mailId)
      if (mailIndex !== -1) this.selectedMails.splice(mailIndex, 1)
    },
    deleteRecord() {
      if(confirm("Are you sure !!?")){
        
        const payload = { emailIds: this.selectedMails, filter: this.$route.params.filter }
        this.$store.dispatch('email/deleteRecord', payload)
          .then(response=>{})
          .catch((error) => { console.error(error) })
        this.selectedMails = []
      }
    },
    closeMailViewSidebar() {
      this.isSidebarActive = false
    },
    setSidebarWidth() {
      if (this.windowWidth < 992) {
        this.isEmailSidebarActive = this.clickNotClose = false
      } else {
        this.isEmailSidebarActive = this.clickNotClose = true
      }
    },
    toggleEmailSidebar(value = false) {
      if (!value) {
        this.closeMailViewSidebar()
        if (this.clickNotClose) {
          return
        }
      }
      this.isEmailSidebarActive = value
    },  
    emailSearch(){
        this.$store.dispatch("email/fetchEmails",{filter:this.$route.params.filter,searchQuery:this.searchQuery})                             // Fetch Emails From API
    }
  },
  components: {
    ContactItem,
    EmailSidebar,
    VuePerfectScrollbar,
    NewsLetterItem
  },
  created() {
    this.$store.registerModule('email', moduleEmail)
    
    
    this.setSidebarWidth()

    this.$store.dispatch("email/fetchEmails",{filter:this.$route.params.filter,searchQuery:this.searchQuery})                             // Fetch Emails From API
  },
  beforeDestroy: function() {
    this.$store.unregisterModule('email')
  },
}

</script>


<style lang="scss">
@import "@sass/vuexy/apps/email.scss";
</style>
