<!-- =========================================================================================
    File Name: MailItem.vue
    Description: Mail Item - Displays mail item
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
    <div class="mail__mail-item sm:px-4 px-2 py-6 " >

        <div class="flex w-full">
            <div class="flex w-full justify-between items-start">
                <div class="mail__details">
                    <span style="float:right;position:absolute;right:0px;margin-right: 15px;">{{ getEmail(newsLetter.created_at) }}</span>
                </div>
            </div>
        </div>
        
        <div class="flex w-full">
            <div class="flex items-center ml-1">
                <vs-checkbox v-model="isSelectedMail" @click.stop class="vs-checkbox-small ml-0 mr-1"></vs-checkbox>
            </div>
            <div class="mail__message truncate ml-3">
                <span>{{ newsLetter.email }}</span>
            </div>    
        </div>
    </div>
</template>

<script>
export default {
  props: {
    newsLetter: {
      type: Object,
      required: true,
    },
    isSelected: {
      type: Boolean,
      required: true,
    }
  },
  data() {
    return {
      isSelectedMail: this.isSelected,
    }
  },
  watch: {
    isSelected(value) {
      this.isSelectedMail = value
    },
    isSelectedMail(val) {
      val ? this.$emit('addToSelected', this.newsLetter.id) : this.$emit('removeSelected', this.newsLetter.id)
    }
  },
  methods: {
    getEmail(email){
      let date=email.split('T')[0];
      let time=email.split('T')[1].split('.')[0];

      return date+"   "+time;
    }
  }
}

</script>

