<!-- =========================================================================================
  File Name: ProductMasterSidebar.vue
  Description: Add New Data - Sidebar component
  ----------------------------------------------------------------------------------------
  Item Name: ZainFit Vue + Laravel Admin Panel
  Author: RigRex-Muhammad Ahmad
  Author URL: https://www.rigrex.com
========================================================================================== -->

<template>
  <vs-sidebar
    click-not-close
    position-right
    parent="body"
    default-index="1"
    color="primary"
    class="add-new-data-sidebar items-no-padding"
    spacer
    v-model="isSidebarActiveLocal"
  >
    <div class="mt-6 flex items-center justify-between px-6">
      <h4>
        {{ Object.entries(this.data).length === 0 ? "ADD " : "UPDATE" }}PRODUCT
      </h4>
      <feather-icon
        icon="XIcon"
        @click.stop="isSidebarActiveLocal = false"
        class="cursor-pointer"
      ></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>
    <VuePerfectScrollbar
      class="scroll-area--data-list-add-new"
      :settings="settings"
      :key="$vs.rtl"
    >
      <product-item-selection
        v-if="step === 1"
        :productItems="productItems"
        :nextStep="nextStep"
        :isSidebarActiveLocal="isSidebarActiveLocal"
        :values="values"
      ></product-item-selection>
      <product-catalog-selection
        v-if="step === 2"
        :itemCatalogs="itemCatalogs"
        :nextStep="nextStep"
        :isSidebarActiveLocal="isSidebarActiveLocal"
        :values="values"
      ></product-catalog-selection>
      <product-details
        v-if="step === 3"
        :isSidebarActiveLocal="isSidebarActiveLocal"
        :values="values"
      ></product-details>
      <product-attributes-values
        v-if="step === 3"
        :itemAttributes="itemAttributes"
        :isSidebarActiveLocal="isSidebarActiveLocal"
        :values="values"
        :prodAttributes="values.productAttributes"
      ></product-attributes-values>
    </VuePerfectScrollbar>

    <div class="flex flex-wrap items-center p-6" slot="footer">
      <vs-button class="mr-6" @click="submitData" :disabled="!isFormValid"
        >Submit</vs-button
      >
      <vs-button
        type="border"
        color="danger"
        @click="
          step === 2 || step === 3 ? prevStep() : (isSidebarActiveLocal = false)
        "
        >{{ step === 2 || step === 3 ? "Back" : "Cancel" }}</vs-button
      >
    </div>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import moduleProductMaster from "@/store/productMaster/moduleProductMaster.js";

import ProductItemSelection from "@/components/product-master/ProductItemSelection";
import ProductCatalogSelection from "@/components/product-master/ProductCatalogSelection";
import ProductDetails from "@/components/product-master/ProductDetails";
import ProductAttributesValues from "@/components/product-master/ProductAttributesValues";

export default {
  props: {
    isSidebarActive: {
      type: Boolean,
      required: true,
    },
    data: {
      type: Object,
      default: () => {},
    },
  },
  watch: {
    isSidebarActive(val) {
      if (!val) return;
      if (Object.entries(this.data).length === 0) {
        this.initValues();
        this.$validator.reset();
      } else {
        //   console.log(JSON.parse(JSON.stringify(this.data)))
        let {
          id,
          title,
          image_src,
          mirror_image_src,
          on_sale,
          new_product,
          offer,
          discount,
          old_price,
          new_price,
          discount_off,
          description,
          catalog_id,
          catalog_name,
          item_id,
          item_name,

          productAttributes,
        } = JSON.parse(JSON.stringify(this.data));
        this.values.id = id;
        this.values.title = title;
        this.values.image_src = image_src;
        this.values.mirror_image_src = mirror_image_src;
        this.values.on_sale = on_sale;
        this.values.new_product = new_product;
        this.values.offer = offer;
        this.values.discount = discount;
        this.values.old_price = old_price;
        this.values.new_price = new_price;
        this.values.discount_off = discount_off;
        this.values.description = description;
        this.values.catalog_id = catalog_id;
        this.values.catalog_name = catalog_name;

        this.values.item_id = item_id;
        this.values.item_name = item_name;
        this.values.productAttributes = productAttribute;
        this.initValues();
      }
      // Object.entries(this.data).length === 0 ? this.initValues() : { this.dw_item_id, this.dataName, this.dataCategory, this.dataOrder_status, this.dataPrice } = JSON.parse(JSON.stringify(this.data))
    },
  },
  data() {
    return {
      step: 1,
      values: {
        title: "",
        image_src: null,
        mirror_image_src: null,
        on_sale: "true",
        new_product: "true",
        offer: "false",
        discount: "false",
        old_price: 0,
        new_price: 0,
        discount_off: 0,
        description: "",
        item_id: "",
        item_name: "",
        catalog_id: "",
        catalog_name: "",
        productAttributes: [],
      },

      settings: {
        // perfectscrollbar settings
        maxScrollbarLength: 60,
        wheelSpeed: 0.6,
      },
    };
  },

  created() {
    if (!moduleProductMaster.isRegistered) {
      this.$store.registerModule("productMaster", moduleProductMaster);
      moduleProductMaster.isRegistered = true;
    }
    this.$store.dispatch("productMaster/fetchItems");
  },
  computed: {
    isSidebarActiveLocal: {
      get() {
        return this.isSidebarActive;
      },
      set(val) {
        if (!val) {
          this.$emit("closeSidebar");
          // this.$validator.reset()
          // this.initValues()
        }
      },
    },
    isFormValid() {
      return (
        !this.errors.any() &&
        this.values.title &&
        this.values.image_src &&
        this.values.mirror_image_src &&
        this.values.on_sale &&
        this.values.new_product &&
        this.values.offer &&
        this.values.discount &&
        this.values.old_price &&
        this.values.description &&
        this.values.catalog_id &&
        this.values.catalog_name &&
        this.values.item_id &&
        this.values.item_name
      );
    },
    productItems() {
      return this.$store.state.productMaster.productItems;
    },
    itemCatalogs() {
      return this.$store.state.productMaster.itemCatalogs;
    },

    itemAttributes() {
      return this.$store.state.productMaster.itemAttributes;
    },
  },
  methods: {
    // Proceed to next step
    nextStep() {
      this.step++;
    },

    // Go back to prev step
    prevStep() {
      this.step--;
    },

    initValues() {
      if (this.data.id) return;
      this.values.id = null;
      this.values.title = "";
      this.values.image_src = null;
      this.values.mirror_image_src = null;
      this.values.on_sale = "true";
      this.values.new_product = "true";
      this.values.offer = "false";
      this.values.discount = "false";
      this.values.old_price = 0;
      this.values.new_price = 0;
      this.values.discount_off = 0;
      this.values.description = "";
      this.values.catalog_id = null;
      this.values.catalog_name = "";
      this.values.item_id = null;
      this.values.item_name = "";
      this.values.productAttributes = [];
    },
    submitData() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.step = 1;
          const data = new FormData();

          this.values.productAttributes.forEach((productAttribute) => {
            if (productAttribute.data_type === "Picture") {
              data.append(
                `singlePictures[${productAttribute.attribute_id}]`,
                productAttribute.value
              );
            }

            if (productAttribute.data_type === "Multiple Pictures") {
              data.append(
                `multiplePicturesLength${productAttribute.attribute_id}`,
                productAttribute.value.length
              );

              productAttribute.value.forEach((value, index) => {
                let dynamicFormula =
                  (index + 1) * (productAttribute.attribute_id + 1);

                data.append(`multiplePictures[${dynamicFormula}]`, value);
              });
            }
          });
          data.append("imageUrl", this.values.image_src);
          data.append("mirrorImageUrl", this.values.mirror_image_src);

          const obj = {
            id: this.values.id,
            title: this.values.title,
            on_sale: this.values.on_sale,
            new_product: this.values.new_product,
            offer: this.values.offer,
            discount: this.values.discount,
            old_price: this.values.old_price,
            new_price: this.values.new_price,
            discount_off: this.values.discount_off,
            description: this.values.description,
            catalog_id: this.values.catalog_id,
            catalog_name: this.values.catalog_name,
            item_id: this.values.item_id,
            item_name: this.values.item_name,
            productAttributes: this.values.productAttributes,
          };

          // console.log(obj);

          if (this.values.id !== null && this.values.id >= 0) {
            data.append("productAttributes", this.values.productAttributes);
            const json = JSON.stringify(obj);
            data.append("data", json);
            // console.log(obj)
            this.$store
              .dispatch("productMaster/updateProduct", data)
              .catch((err) => {
                console.error(err);
              });
          } else {
            delete obj.id;

            data.append("productAttributes", this.values.productAttributes);
            const json = JSON.stringify(obj);
            data.append("data", json);
            this.$store
              .dispatch("productMaster/addProduct", data)
              .catch((err) => {
                console.error(err);
              });
          }

          this.$emit("closeSidebar");
          this.initValues();
        }
      });
    },
  },
  components: {
    VuePerfectScrollbar,
    ProductItemSelection,
    ProductCatalogSelection,
    ProductAttributesValues,
    ProductDetails,
  },
};
</script>

<style lang="scss" scoped>
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
  // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
  height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>
