<!-- =========================================================================================
  File Name: AttributeMasterSidebar.vue
  Description: Add New Data - Sidebar component
  ----------------------------------------------------------------------------------------
  Item Name: ZainFit Vue + Laravel Admin Panel
  Author: RigRex-Muhammad Ahmad
  Author URL: https://www.rigrex.com
========================================================================================== -->


<template>
  <vs-sidebar click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>{{ Object.entries(this.data).length === 0 ? "ADD NEW" : "UPDATE" }} ATTRIBUTE</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>

    <VuePerfectScrollbar class="scroll-area--data-list-add-new" :settings="settings" :key="$vs.rtl">

      <div class="p-6">

        <!-- NAME -->
        <vs-input label="Name" v-model="name" class="mt-5 w-full" name="name" v-validate="'required'" />
        <span class="text-danger text-sm" v-show="errors.has('name')">{{ errors.first('name') }}</span>


        <!-- LINK ITEMS-->
        <ul class="centerx mt-5 w-full">
            <label class="vs-input--label">Link Items</label>
            <li v-for="(item, index) in attributeItems" :key="index">
                <vs-checkbox v-model="item_ids" :vs-value="item.id" >{{ item.name }}</vs-checkbox>
            </li>
        </ul>


        <!-- ATTRIBUTE TYPE-->
        <vs-select v-model="attribute_type" label="Attribute Type" class="mt-5 w-full">
          <vs-select-item :key="item.value" :value="item.value" :text="item.text" v-for="item in attribute_type_choices" />
        </vs-select>

        <!-- DATA TYPE-->
        <vs-select v-model="data_type" label="Data Type" class="mt-5 w-full">
          <vs-select-item :key="item.value" :value="item.value" :text="item.text" v-for="item in data_type_choices" />
        </vs-select>

        <!-- UNIT -->
        <vs-select v-model="unit" label="Unit" class="mt-5 w-full">
          <vs-select-item :key="item.value" :value="item.value" :text="item.text" v-for="item in unit_choices" />
        </vs-select>

        <!-- Description -->
        <vs-textarea label="Description" class="mt-3"  v-model="description"  v-validate="'required'" />
        <span class="text-danger text-sm" v-show="errors.has('description')">{{ errors.first('description') }}</span>


      </div>
    </VuePerfectScrollbar>

    <div class="flex flex-wrap items-center p-6" slot="footer">
      <vs-button class="mr-6" @click="submitData" :disabled="!isFormValid">Submit</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
    </div>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import moduleAttributeMaster from "@/store/attributeMaster/moduleAttributeMaster.js"

export default {
  props: {
    isSidebarActive: {
      type: Boolean,
      required: true
    },
    data: {
      type: Object,
      default: () => {},
    }
  },
  watch: {
    isSidebarActive(val) {
      if(!val) return
      if(Object.entries(this.data).length === 0) {
        this.initValues()
        this.$validator.reset()
      }else {
        //   console.log(JSON.parse(JSON.stringify(this.data)))
        let { id, items, name, description, data_type, attribute_type, unit } = JSON.parse(JSON.stringify(this.data))
        this.id = id
        this.name = name
        this.item_ids = []
        items.forEach(item => this.item_ids.push(item.id));

        this.data_type = data_type
        this.attribute_type = attribute_type
        this.unit = unit
        this.description = description
        this.initValues()
      }
      // Object.entries(this.data).length === 0 ? this.initValues() : { this.dw_item_ids, this.dataName, this.dataCategory, this.dataOrder_status, this.dataPrice } = JSON.parse(JSON.stringify(this.data))
    }
  },
  data() {
    return {
        item_ids: [],
        name: "",
        description: "",
        data_type: "String",
        attribute_type: "P",
        unit: "Meter",

        data_type_choices: [
            {text:'String',value:'String'},
            {text:'Number',value:'Number'},
            {text:'Picture',value:'Picture'},
            {text:'Multiple Pictures',value:'Multiple Pictures'},
            {text:'Textarea',value:'Textarea'},

        ],

        attribute_type_choices: [
            {text:'P',value:'P'},
            {text:'S',value:'S'},

        ],

        unit_choices: [
            {text:'Meter',value:'Meter'},
            {text:'Inch',value:'Inch'},
            {text:'KG',value:'KG'},
            {text:'Gram',value:'Gram'},
            {text:'NA',value:'NA'},
        ],


        settings: { // perfectscrollbar settings
            maxScrollbarLength: 60,
            wheelSpeed: .60,
        },
    }
  },

  computed: {
    isSidebarActiveLocal: {
      get() {
        return this.isSidebarActive
      },
      set(val) {
        if(!val) {
          this.$emit('closeSidebar')
          // this.$validator.reset()
          // this.initValues()
        }
      }
    },
    isFormValid() {
      return !this.errors.any() && this.name && this.item_ids && this.attribute_type && this.data_type && this.unit && this.description
    },
    attributeItems() {
        // console.log(this.$store.state.attributeMaster.attributeItems)
      return this.$store.state.attributeMaster.attributeItems;
    },
  },
  created() {
      if(!moduleAttributeMaster.isRegistered) {
      this.$store.registerModule('attributeMaster', moduleAttributeMaster)
      moduleAttributeMaster.isRegistered = true
    }
    this.$store.dispatch("attributeMaster/fetchAttributeItems")
  },
  methods: {
    initValues() {
      if(this.data.id) return
        this.item_ids = []
        this.id = null
        this.name = ""
        this.description = ""
        this.data_type = "String"
        this.attribute_type = "P"
        this.unit = "Meter"
    },


    submitData() {
      this.$validator.validateAll().then(result => {
          if (result) {

            const obj = {
                id: this.id,
                name: this.name,
                item_ids: this.item_ids,
                attribute_type: this.attribute_type,
                data_type: this.data_type,
                unit: this.unit,
                description: this.description,
            }

            // console.log(obj);

            if(this.id !== null && this.id >= 0) {
                // console.log(obj)
              this.$store.dispatch("attributeMaster/updateAttribute", obj).catch(err => { console.error(err) })
            }else{
              delete obj.id

            //   console.log(obj)
              this.$store.dispatch("attributeMaster/addAttribute", obj).catch(err => { console.error(err) })
            }

            this.$emit('closeSidebar')
            this.initValues()
          }
      })
    },
  },
  components: {
    VuePerfectScrollbar,
  }
}
</script>

<style lang="scss" scoped>
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
    height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>
