<template>
    <div>
        this is home page
    </div>
</template>
<script>
export default{
    data(){
        return{

        }     
    },
    mounted(){
        console.log('home page is mounted');
    }
}
</script>