<template>
  <fragment>
    <!-- Product Images -->
    <div v-for="(image, key) in productAttribute.value" :key="key">
      <!-- Images Container -->
      <div class="img-container w-64 mx-auto flex items-center justify-center">
        <img :src="image" alt="img" class="responsive" :ref="'image'" />
      </div>

      <!-- Image upload Buttons -->
      <div class="modify-img flex justify-between mt-5">
        <vs-button type="flat" color="#999" @click="removePicture(key)"
          >Remove</vs-button
        >
      </div>
    </div>
    <div class="upload-img mt-5">
      <input
        type="file"
        class="hidden"
        ref="uploadImgInput"
        @change="updateCurrImg"
        accept="image/*"
        multiple
      />
      <vs-button @click="$refs.uploadImgInput.click()"
        >Upload {{ attribute.name }}</vs-button
      >
    </div>
  </fragment>
</template>

<script>
export default {
  props: {
    prodAttribute: {
      required: true,
    },
    attribute: {
      required: true,
    },
  },
  data() {
    return {
      productAttribute: this.prodAttribute,
    };
  },
  created() {},
  computed: {
    value() {
      return this.productAttribute.value;
    },
  },
  methods: {
    updateCurrImg(input) {
      let vm = this;
      let selectedFiles = input.target.files;
      for (let i = 0; i < selectedFiles.length; i++) {
        this.productAttribute.value.push(selectedFiles[i]);
      }
      this.picturesPreview();
    },
    removePicture(index) {
      this.productAttribute.value.splice(index, 1);
      this.picturesPreview();
    },

    picturesPreview() {
      for (let i = 0; i < this.productAttribute.value.length; i++) {
        let reader = new FileReader();
        reader.onload = (e) => {
          this.$refs.image[i].src = reader.result;
        };

        reader.readAsDataURL(this.productAttribute.value[i]);
      }
    },
  },
  components: {},
};
</script>
