<template>
  <fragment>
    <div class="mt-6 flex items-center justify-between px-6">
      <h4>ENTER ATTRIBUTES VALUES</h4>
    </div>
    <div class="p-6">
      <h3 v-if="itemAttributes.length === 0">
        No Attributes are attached to this item
      </h3>
      <div
        class="demo-alignment"
        v-for="(itemAttribute, index) in itemAttributes"
        :key="index"
      >
        <!-- SINGLE PICTURE -->
        <single-picture
          v-if="itemAttribute.data_type === 'Picture'"
          :attribute="itemAttribute"
          :prodAttribute="productAttributes[index]"
        ></single-picture>

        <!-- MULTIPLE PICTURES -->
        <multiple-pictures
          v-if="itemAttribute.data_type === 'Multiple Pictures'"
          :attribute="itemAttribute"
          :prodAttribute="productAttributes[index]"
        ></multiple-pictures>

        <!-- STRING TYPE -->
        <vs-input
          v-if="itemAttribute.data_type === 'String'"
          :label="itemAttribute.name"
          v-model="productAttributes[index].value"
          :placeholder="'Attribute Unit is ' + itemAttribute.unit"
          class="mt-5 w-full"
          :name="itemAttribute.name"
          v-validate="'required'"
        />
        <span
          class="text-danger text-sm"
          v-show="errors.has(itemAttribute.name)"
          >{{ errors.first(itemAttribute.name) }}</span
        >

        <!-- NUMBER TYPE -->
        <label
          v-if="itemAttribute.data_type === 'Number'"
          class="vs-input--label"
          >{{ itemAttribute.name }}</label
        >
        <vs-input-number
          v-if="itemAttribute.data_type === 'Number'"
          class="mt-5 w-full"
          v-model="productAttributes[index].value"
          :name="itemAttribute.name"
          :placeholder="'Attribute Unit is ' + itemAttribute.unit"
          v-validate="'required'"
        />
        <span
          class="text-danger text-sm"
          v-show="errors.has(itemAttribute.name)"
          >{{ errors.first(itemAttribute.name) }}</span
        >

        <!-- TEXTAREA TYPE -->
        <vs-textarea
          v-if="itemAttribute.data_type === 'Textarea'"
          :label="itemAttribute.name"
          class="mt-3"
          :placeholder="'Attribute Unit is ' + itemAttribute.unit"
          v-model="productAttributes[index].value"
          v-validate="'required'"
        />
        <span
          class="text-danger text-sm"
          v-show="errors.has(itemAttribute.name)"
          >{{ errors.first(itemAttribute.name) }}</span
        >
      </div>
    </div>
  </fragment>
</template>

<script>
import SinglePicture from "./SinglePicture.vue";
import MultiplePictures from "./MultiplePictures.vue";
export default {
  props: {
    itemAttributes: {
      type: Array,
      required: true,
    },
    isSidebarActiveLocal: {
      required: true,
    },

    prodAttributes: {
      required: true,
    },
    values: {
      required: true,
    },
  },
  data() {
    return {
      productAttributes: this.prodAttributes,
      dataImg: null,
      images: [],
    };
  },
  created() {
    this.itemAttributes.forEach((itemAttribute, index) => {
      if (itemAttribute.data_type === "String") {
        this.productAttributes[index] = {
          attribute_id: itemAttribute.id,
          data_type: itemAttribute.data_type,
          value: "",
        };
      } else if (itemAttribute.data_type === "Number") {
        this.productAttributes[index] = {
          attribute_id: itemAttribute.id,
          data_type: itemAttribute.data_type,
          value: 0,
        };
      } else if (itemAttribute.data_type === "Picture") {
        this.productAttributes[index] = {
          attribute_id: itemAttribute.id,
          data_type: itemAttribute.data_type,
          value: "",
        };
      } else if (itemAttribute.data_type === "Multiple Pictures") {
        this.productAttributes[index] = {
          attribute_id: itemAttribute.id,
          data_type: itemAttribute.data_type,
          value: [],
        };
      } else {
        this.productAttributes[index] = {
          attribute_id: itemAttribute.id,
          data_type: itemAttribute.data_type,
          value: "",
        };
      }
    });
  },
  computed: {},
  methods: {

  },
  components: {
    SinglePicture,
    MultiplePictures,
  },
};
</script>
