<template>
  <fragment>
    <div class="mt-6 flex items-center justify-between px-6">
      <h4>SELECT CATALOG</h4>
    </div>
    <div class="p-6">
      <h3 v-if="itemCatalogs.length === 0">
        No Catalogs are attached to this item
      </h3>
      <div class="demo-alignment">
        <vs-chip
          color="primary"
          style="cursor: pointer !important"
          :key="indextr"
          v-for="(catalog, indextr) in itemCatalogs"
        >
          <span @click="continueToNextStep(catalog)">
            {{ catalog.name }}
          </span>
        </vs-chip>
      </div>
    </div>
  </fragment>
</template>

<script>
export default {
  props: {
    itemCatalogs: {
      type: Array,
      required: true,
    },
    nextStep: {
      required: true,
    },
    isSidebarActiveLocal: {
      required: true,
    },
    values: {
      required: true,
    },
  },
  data() {
    return {};
  },
  methods: {
    continueToNextStep(catalog) {
      this.values.catalog_id = catalog.id;
      this.values.catalog_name = catalog.name;
      this.$store
        .dispatch("productMaster/fetchItemAttributes", this.values.item_id)
        .then((response) => this.nextStep())
        .catch((err) => {
          console.error(err);
        });
    },
  },
  components: {},
};
</script>
