<template>
  <fragment>
    <div class="mt-6 flex items-center justify-between px-6">
      <h4>ENTER PRODUCT DETAIL</h4>
    </div>
    <div class="p-6">
      <!-- PRODUCT TITLE -->
      <vs-input
        label="Product Title"
        v-model="values.title"
        placeholder="Enter Product Title"
        class="mt-5 w-full"
        name="title"
        v-validate="'required'"
      />
      <!-- PRODUCT IMAGE URL -->
      <single-picture
        :onChange="onChange"
        :attribute="{ name: 'Product Image' }"
        :prodAttribute="imageSrc"
      ></single-picture>

      <!-- PRODUCT MIRROR IMAGE URL -->
      <single-picture
        :onChange="onChange"
        :attribute="{ name: 'Product Mirror Image' }"
        :prodAttribute="mirrorImageSrc"
      ></single-picture>

      <!-- ON SALE -->
      <label class="vs-input--label mt-5">On Sale</label>
      <ul class="centerx w-full">
        <li>
          <vs-radio v-model="values.on_sale" vs-value="true">Yes</vs-radio>
        </li>
        <li>
          <vs-radio v-model="values.on_sale" vs-value="false">No</vs-radio>
        </li>
      </ul>

      <!-- New Product -->
      <label class="vs-input--label mt-5">New Product</label>
      <ul class="centerx w-full">
        <li>
          <vs-radio v-model="values.new_product" vs-value="true">Yes</vs-radio>
        </li>
        <li>
          <vs-radio v-model="values.new_product" vs-value="false">No</vs-radio>
        </li>
      </ul>

      <!-- OLD PRICE -->
      <label class="vs-input--label mt-5">Price</label>
      <vs-input-number
        class="centrex w-full"
        v-model="values.old_price"
        :name="values.old_price"
        placeholder="Enter Price"
        v-validate="'required'"
      />

      <!-- OFFER -->
      <label class="vs-input--label mt-5">Offer</label>
      <ul class="centerx w-full">
        <li>
          <vs-radio v-model="values.offer" vs-value="true">Yes</vs-radio>
        </li>
        <li>
          <vs-radio v-model="values.offer" vs-value="false">No</vs-radio>
        </li>
      </ul>

      <!-- NEW PRICE -->
      <label v-if="values.offer == 'true'" class="vs-input--label mt-5"
        >Offer Price</label
      >
      <vs-input-number
        v-if="values.offer == 'true'"
        class="centrex w-full"
        v-model="values.new_price"
        name="new_price"
        placeholder="Enter New Price"
        v-validate="'required'"
      />

      <!-- DISCOUNT -->
      <label class="vs-input--label mt-5">Discount</label>
      <ul class="centerx w-full">
        <li>
          <vs-radio v-model="values.discount" vs-value="true">Yes</vs-radio>
        </li>
        <li>
          <vs-radio v-model="values.discount" vs-value="false">No</vs-radio>
        </li>
      </ul>

      <!-- DISCOUNT OFF -->
      <label v-if="values.discount == 'true'" class="vs-input--label mt-5"
        >Discount Off</label
      >
      <vs-input-number
        v-if="values.discount == 'true'"
        class="centrex w-full"
        v-model="values.discount_off"
        name="discount_off"
        placeholder="Enter off Discount"
        v-validate="'required'"
      />

      <!-- DESCRIPTION -->
      <vs-textarea
        label="Description"
        class="mt-3"
        placeholder="Description for Product"
        v-model="values.description"
        v-validate="'required'"
      />
    </div>
  </fragment>
</template>

<script>
import SinglePicture from "./SinglePicture.vue";
export default {
  props: {
    isSidebarActiveLocal: {
      required: true,
    },

    values: {
      required: true,
    },
  },
  data() {
    return {
      title: this.values.title,
      imageSrc: {
        value: this.values.image_url,
      },
      mirrorImageSrc: {
        value: this.values.mirror_image_url,
      },
      on_sale: this.values.on_sale,
      new_product: this.values.new_product,
      offer: this.values.offer,
      discount: this.values.discount,
      old_price: this.values.old_price,
      new_price: this.values.new_price,
      discount_off: this.values.discount_off,
      description: this.values.description,
    };
  },
  created() {},
  watch: {
    imageSrc: function (val) {
      this.values.image_src = this.imageSrc.value;
    },
    mirrorImageSrc: function (val) {
      this.values.mirror_image_src = this.mirrorImageSrc.value;
    },
  },
  computed: {},
  methods: {
    onChange() {
      this.values.image_src = this.imageSrc.value;
      this.values.mirror_image_src = this.mirrorImageSrc.value;
    },
  },
  components: {
    SinglePicture,
  },
};
</script>
