<template>
  <fragment>
    <div class="mt-6 flex items-center justify-between px-6">
      <h4>SELECT ITEM</h4>
    </div>
    <div class="p-6">
      <div class="demo-alignment">
        <vs-chip
          color="primary"
          style="cursor: pointer !important"
          :key="indextr"
          v-for="(item, indextr) in productItems"
        >
          <span @click="continueToNextStep(item)">
            {{ item.name }}
          </span>
        </vs-chip>
      </div>
    </div>
  </fragment>
</template>

<script>
export default {
  props: {
    productItems: {
      type: Array,
      required: true,
    },
    nextStep: {
      required: true,
    },
    isSidebarActiveLocal: {
      required: true,
    },
    values: {
      required: true,
    },
  },
  data() {
    return {};
  },
  methods: {
    continueToNextStep(item) {
      this.values.item_id = item.id;
      this.values.item_name = item.name;
      console.log(item);
      this.$store
        .dispatch("productMaster/fetchItemCatalogs", item.id)
        .then((response) => this.nextStep())
        .catch((err) => {
          console.error(err);
        });
    },
  },
  components: {},
};
</script>
