<template>
  <fragment>
    <!-- Product Image -->
    <div v-if="productAttribute && productAttribute.value">
      <!-- Image Container -->
      <div class="img-container w-64 mx-auto flex items-center justify-center">
        <img :src="productAttribute.value" alt="img" class="responsive" />
      </div>

      <!-- Image upload Buttons -->
      <div class="modify-img flex justify-between mt-5">
        <input
          type="file"
          class="hidden"
          ref="updateImgInput"
          @change="updateCurrImg"
          accept="image/*"
        />
        <vs-button
          class="mr-4"
          type="flat"
          @click="$refs.updateImgInput.click()"
          >Update {{ attribute.name }}</vs-button
        >
        <vs-button
          type="flat"
          color="#999"
          @click="productAttribute.value = null"
          >Remove {{ attribute.name }}</vs-button
        >
      </div>
    </div>
    <div
      class="upload-img mt-5"
      v-if="!productAttribute || !productAttribute.value"
    >
      <input
        type="file"
        class="hidden"
        ref="uploadImgInput"
        @change="updateCurrImg"
        accept="image/*"
      />
      <vs-button @click="$refs.uploadImgInput.click()"
        >Upload {{ attribute.name }}</vs-button
      >
    </div>
  </fragment>
</template>

<script>
export default {
  props: {
    prodAttribute: {
      required: true,
    },
    attribute: {
      required: true,
    },
    onChange: {
      required: false,
    },
  },
  data() {
    return {
      productAttribute: this.prodAttribute,
    };
  },
  created() {},
  computed: {
    value() {
      return this.productAttribute.value;
    },
  },
  methods: {
    updateCurrImg(input) {
      if (input.target.files && input.target.files[0]) {
        this.productAttribute.value = input.target.files[0];
        var reader = new FileReader();
        reader.onload = (e) => {
          this.productAttribute = {
            ...this.productAttribute,
            value: e.target.result,
          };
        };
        reader.readAsDataURL(input.target.files[0]);
        this.onChange ? this.onChange() : "";
      }
    },
  },
  components: {},
};
</script>
