<!-- =========================================================================================
  File Name: DashboardAnalytics.vue
  Description: Dashboard Analytics
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div id="dashboard-analytics">
    <div class="vx-row">
      <!-- CARD 9: DISPATCHED ORDERS -->
      <div class="vx-col w-full">
        <vx-card title="Current Projects">
          <div slot="no-body" class="mt-4">
            <vs-table :data="projects" class="table-dark-inverted">
              <template slot="thead">
                <vs-th>Project NO.</vs-th>
                <vs-th>PROJECT NAME</vs-th>
                <vs-th>STATUS</vs-th>
                <vs-th>COST</vs-th>
                <vs-th>CURRENCY</vs-th>
                <vs-th>DEVELOPERS</vs-th>
                <vs-th>SIGNIFICANCE</vs-th>
                <vs-th style="width:150px!important;">START DATE</vs-th>
                <vs-th style="width:150px!important;">DEADLINE</vs-th>
              </template>

              <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                  <vs-td :data="data[indextr].orderNo">
                    <span>#{{data[indextr].id}}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].name">
                    <span>{{data[indextr].name}}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].status">
                    <span class="flex items-center px-2 py-1 rounded"><div class="h-3 w-3 rounded-full mr-2" :class="'bg-' + statusColor(data[indextr].status)"></div>{{data[indextr].status}}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].cost">
                    <span>{{data[indextr].cost}}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].cost_currency">
                    <span>{{data[indextr].cost_currency}}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].orderNo">
                    <ul class="users-liked user-list">
                          <li v-for="(developer, devIndex) in data[indextr].developers" :key="devIndex">
                            <vx-tooltip :text="developer.user.name" position="bottom">
                                <vs-avatar :src="developer.user.image" size="40px" class="border-2 border-white border-solid -m-1"></vs-avatar>
                            </vx-tooltip>
                        </li>
                    </ul>
                  </vs-td>
                  <vs-td :data="significance">
                    <span>{{'critcal'}}</span>
                    <vs-progress :percent="78" :color="`success`"></vs-progress>
                  </vs-td>
                  <vs-td :data="data[indextr].created_at" style="width:150px!important;">
                    <span>{{date(data[indextr].created_at)}}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].deadline" style="width:150px!important;">
                    <span>{{date(data[indextr].deadline)}}</span>
                  </vs-td>
                  
                </vs-tr>
              </template>
            </vs-table>
          </div>

        </vx-card>
      </div>
    </div>

  </div>
</template>

<script>
  import moduleCurrentProjectManagement from '@/store/currentProject-management/moduleCurrentProjectManagement.js'
export default {

    data() {
        return {
            dispatchedOrders: [],
        }
    },
    computed:{
      projects(){
        return this.$store.state.currentprojectManagement.currentprojects;
      },
      significance(){
        var percent=(Math.random()*100);
        return percent;
      },
      
    },
    methods:{
      statusColor(status){
        switch(status){
          case 'cancelled':
            return 'danger';
            break;
          case 'pending':
            return 'warning';
            break;
          case 'developing':
            return 'success'
            break;
        }
      },
      date(date){
        return date.slice(0,10);
      }
    },
    created() {
      // Dispatched Orders
      // this.$http.get("/api/table/dispatched-orders")
      //   .then((response) => { this.dispatchedOrders = response.data })
      //   .catch((error)   => { console.log(error) })

      if(!moduleCurrentProjectManagement.isRegistered) {
        this.$store.registerModule('currentprojectManagement', moduleCurrentProjectManagement);
        moduleCurrentProjectManagement.isRegistered = true;
      }
      this.$store.dispatch('currentprojectManagement/fetchCurrentProject').catch(err => { console.error(err) });
    }
}
</script>

<style lang="scss">
/*! rtl:begin:ignore */
#dashboard-analytics {
  .greet-user{
    position: relative;

    .decore-left{
      position: absolute;
      left:0;
      top: 0;
    }
    .decore-right{
      position: absolute;
      right:0;
      top: 0;
    }
  }

  @media(max-width: 576px) {
    .decore-left, .decore-right{
      width: 140px;
    }
  }
}
</style>
